@model CityWeather

<!DOCTYPE html>
<html>
<head>
	<title>City weather</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
	<h1>Weather</h1>
		<div class="page-content">
			@{
				if (Model != null)
				{
					<div class="box cursor-pointer w-30 margin-auto margin-top-200">
						<div class="flex-borderless">
							<div class="w-50">
								<h2>@Model.CityName</h2>
								<h4 class="text-dark-grey">@Model.DateAndTime?.ToString("hh:mm tt", CultureInfo.InvariantCulture)</h4>
								<a href="#" class="margin-top">Details</a>
							</div>
							<div class="w-50 border-left">
								<h1 class="margin-left">@Model.TemperatureFahrenheit <sup class="text-grey">°F</sup></h1>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="/">Back to Weather Home Page</a>
					</div>
				}
				else{
					<h3>Empty or invalid city code provided.</h3>
				}
			}
		</div>
</body>
</html>