<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
	<h1>Weather</h1>
        @RenderBody()
</body>
</html>
