@{
	ViewBag.Title = "Home";
}
	<div>
		<a href="@ViewBag.Options.Facebook">Facebook</a>
	</div>

<environment exclude="Development">
	<div>
		<a href="@ViewBag.Options.Instagram">Instagram</a>
	</div>
</environment>

	<div>
		<a href="@ViewBag.Options.Twitter">Twitter</a>
	</div>

	<div>
		<a href="@ViewBag.Options.Youtube">Youtube</a>
	</div>